@charset "UTF-8";

body{
    background-color: rgb(237, 255, 209);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 74, 4);
}

#principal {
    text-align: center;
    background-color: rgb(4, 74, 4);;
    color: white;
}

h2 {
    color: rgb(2, 141, 2);
}

.basico{
    color: rgb(2, 141, 2);
}

.intermediario{
    color: #b09312;
}

.avancado{
    color: #8d3838;
}

p{
    text-align: justify;
    text-indent: 2em;
}

.destaque{
    background-color: #c5c56070;
}